.gallery{
    height: rem(542px);
    width: var(--container-width);
    background: whitesmoke;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-content: space-between;
}


.meme{
    background-color: lightgrey;
    width: 250px;
    height : 250px;
    margin: 20px;
    // background-image: url('../assets/img/1.jpg');
    background-size: cover;
    // transform: rotate(-45deg) ;

}