.gallery {
  width: var(--container-width);
  background: whitesmoke;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-content: space-between;


  .meme:nth-child(8n+5) {
    margin-left: 120px;
  }
}

.meme {
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  width: 180px;
  height: 206px;
  //border-radius: 20%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  // background-image: url('../assets/img/1.jpg');
  margin: 0 15px;
 // padding: 5px 15px; 
  background-size: cover;
  // transform: rotate(-45deg) ; 
}

  @media (max-width: 780px){

     .meme{
      
      width: 100vw;
      height: 100vw;
      clip-path: none;
     }

    }
