.gallery {
  height: rem(942px);
  width: var(--container-width);
  background: whitesmoke;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-content: space-between;
  overflow-y: scroll;
}

.meme {
  &:hover {
    cursor: pointer;
  }
  background-color: lightgrey;
  width: 180px;
  height: 206px;
  margin: 10px;
  //border-radius: 20%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  // background-image: url('../assets/img/1.jpg');

  background-size: cover;
  // transform: rotate(-45deg) ;
}