@media (max-width: 780px) {
  .get-in-touch {
    padding: 0 !important;
    h1 , h2 {
      padding: 0 1em;
    }
  }
  .msg-send
  {
    padding: 0  1em; 
    display: block;
    width: 100% !important;
    box-sizing: none;
     input,
  textarea {
    width: 100%;
  }
}
}

.get-in-touch {
  padding: 65px 120px;
  display: inline-flex;
  height: em(564px);
  width: var(--container-width);
  background-color: var(--header-color);
  flex-flow: nowrap column;
  align-items: flex-start;
  justify-content: center;

  h1 {
    font-size: 30PX;
    margin: 1px 3px 1px 10px;
    color: #bfbfbf;
  }

  h2 {
    font-size: 18PX;
    margin: 1px 3px 6px 10px;
    color: #bfbfbf;
  }

  input,
  textarea {
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 12px;
    padding-left: 5px;
    background-color: #454545;
    color: white;
    border: 2px solid transparent;
    width: 100%;
    height: 38px;
  }

  .submit-button {
    margin-top: 10px;
    background-color: var(--font-selected);
    width: 90px;
    align-self: flex-end;
  }

  textarea {
    height: 150px;
    //   overflow-y: scroll;
    resize: none;
  }
}

.required {
  outline: 2px solid red;
}

.msg-send {
  display: flex;
  flex-flow: nowrap column;
  width: 70%;
}