.header{
    height: 10vh;
    width: var(--container-width);
    background-color: var(--header-color);
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: -9vh;
    transition: all .5s;
    font-size: 2vw;

    &:hover{
        top: 0vh;
    }
}

.nav {
    background-color: var(--header-color);
    font-family: Lato-Bold;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-content: center;
    font-size: em(7px);
    
a{
    margin: 0 rem(37px);
    align-self: center;

    &:hover{
        color: var(--font-selected);
    }
}

}
.arrow{
    margin-top: 10px;
    display: flex;
    width: rem(64px);
    height: rem(55px);
    background-image: url("../assets/logo.png");
    background-size: rem(64px);      
}

.thong{
    margin-top: 23px;
    align-self: center;
    position: fixed;
    background-color: #292929;
    width: 64px;
    height: 65px;
    transform: rotate(-45deg);
    z-index: -9;
}