/*----------  Maven Font  ----------*/
@font-face {
  font-family: 'Maven';
  src: url('../assets/fonts/Maven_Pro/MavenPro-Regular.ttf'); 
}
/*----------  Lato Font  ----------*/
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf'); 
}

/*----------  Lato-bold Font  ----------*/
@font-face {
  font-family: 'Lato-Bold';
  src: url('../assets/fonts/Lato/Lato-Bold.ttf'); 
}

