$container-width: 1020px;
$mobile-breakpoint: 642px;
body{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-content: center;
}

body {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  align-items: center;
}

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 820px;
<<<<<<< HEAD
    @media (max-width: 780px){
   --container-width: 100vw;
 }
=======

  @media (max-width: 780px) {
    --container-width: 100vw;
  }
>>>>>>> 538effd7124156cee59f51c292036aa6ddb407fe
  /* Fonts */
  --primary-font: Lato;
  --secondary-font: Maven;
  /* Colors */
  --header-color: #323232;
  --font-selected: #2eb398;
  --about-font-color: #d7fcf5;
  --about-lines-color: #219d84;
  --secondary-font: #20816d;
  --lines-color: #e4e9eb;
  --footer-color: #222222;
  --footer-text-color: #454545;
}


